#ifprogress{
	display:block;
	width:100%;
	height:200px;
	max-width:400px;
	margin:0 auto;
	overflow:hidden;
	aspect-ratio:2/1;
	background:white;
	border:1px solid transparent;
	border-radius:10px;
	position:relative;
	margin-top:10px;
}
.donation-widget-overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform:translateX(-50%);
  transform-origin:0 0;
  object-ft:fill;
  width: 400px;
  trasform:scale(0.92);
  height: 200px;
  background:transparent;
  border: none;     /* Убираем рамку браузера вокруг iframe */
  pointer-events: none; /* ВАЖНО! См. ниже объяснение */
  z-index: 2;       /* Верхний слой */
}
@media screen and (max-width: 801px) and (orientation: portrait){
#ifprogress{
	width:100%;
	max-width:none;
	height:200px;
}
.donation-widget-overlay {
trasform:scale(calc(1.0));
}	
}

 #alertdon-container{
	width:1200px;
	height:1200px;
	top:0;
	left:0;
	borer:1px solid red;
	overflow:hidden;
	aspect-ratio: 1/1;
	position:absolute;
	z-index:1;
}
#ex2{
	position: absolute;
  top: -410px;
  left:-400px;
  eft: 50%;
  
  transform-origin:center center;
  width: 1200px; 
  height: 1200px;
  object-fit:fill;
  wdth: 100%;
   transform: scale(0.3); 
  heiht: 100%;
  background:transparent;
  border: 1px solid green;     /* Убираем рамку браузера вокруг iframe */
  pointer-events: none; /* ВАЖНО! См. ниже объяснение */
  z-index: 1;      
}

@media screen and (max-width: 801px) and (orientation: portrait){
	#alertdon-container{}
	#ex2{
		top:-463px;
		left:-450px;
		transform: scale(0.225); 
	}
}
