body{

}
.heart {
  display: inline-block;
  width: 200px;
  aspect-ratio: 1;
  border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

.heart2 {
  width:200px;
  background:
   radial-gradient(circle at 60% 65%, red  64%, grey 65%) top left,
   radial-gradient(circle at 40% 65%, blue 64%, black 65%) top right,
   linear-gradient(to bottom left, green 43%,black 43%) bottom left ,
   linear-gradient(to bottom right,purple 43%,grey 43%) bottom right;
  background-size:50% 50%;
  background-repeat:no-repeat;
  display:inline-block;
  border:5px solid yellow;
}
.heart2::before {
  content:"";
  display:block;
  padding-top:100%;
}

.heart3 {
  width:200px;
  display:inline-block;
  -webkit-mask:
     radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top left,
     radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right,
     linear-gradient(to bottom left, red 43%,transparent 43%) bottom left ,
     linear-gradient(to bottom right,red 43%,transparent 43%) bottom right;
  -webkit-mask-size:50% 50%;
  -webkit-mask-repeat:no-repeat;
  mask:
     radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top left,
     radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right,
     linear-gradient(to bottom left, red 43%,transparent 43%) bottom left ,
     linear-gradient(to bottom right,red 43%,transparent 43%) bottom right;
  mask-size:50% 50%;
  mask-repeat:no-repeat;
  background:linear-gradient(red,blue);
}
.heart3::before {
  content:"";
  display:block;
  padding-top:100%;
}
#heartswrapper{
	display:grid;
	grid-template-columns: 30% 30% 30%;
}
.heartbox{
	display:flex;
	flex-wrap: wrap;
    flex-direction: row;
     justify-content: space-around;
		align-items: center;
		justify-items:center;
		background:yellow:
}
.heartbox label{
display:flex;
 flex-direction: row;
     justify-content: space-around;
		align-items: center;
    
}
input[type=radio]{
	align-self:center;
	transform:translateY(-1px);
}
 b{
	margin-left:10px;
	margin-right:10px;
}

@media screen and (max-width: 452px) and (orientation: portrait){
	#heartswrapper{
		display:block;
	}
	input[type=radio]{
	align-self:center;
	transform:translateY(-3px);
}
form{
	width:100%;
	background:green;
	padding:10px;
}
.heartbox{
	width:100%;
	display:block;
}
}
