
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form * {
  font-family: 'Poppins',sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
#regelnoutput{
	background:white;
	height:90%;
	width:40%;
	overflow:scroll;
	color:black;
}
#loginoutput{
	background:white;
	width:25vw;
	border-radius:10px;
	z-index:10000;
}
.modal-body{
	background:white;
}
label {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  color:black;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 0px 8px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  background: #ddd;
  border: 0;
}

span.model-header-label {
  float: right;
  font-weight: bold;
  color: #ff5722;
}

.login-button {
  margin-top: 10px;
  width: 100%;
  background: linear-gradient(#446ca2,#446ca2 25%,#184076);
  color: #fff;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.register-button {
  margin-top: 25px;
  width: 100%;
  background: green;/*#4caf50;*/
  color: #fff;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.login-button:hover, .register-button:hover {
  color: #ddd;
}

.center-button > button {
  width: 230px;
}
.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error-message {
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 12px 8px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  bckground: #e91e4d;
  border: 0;
  color: red;
}

.modal-header {
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color:black;
}

.modal-body {
  padding: 14px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

ul, h1, h2 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  height: 100%;
  border: none;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  color: #767676;
  background-color: #fff;
}
/*
  button:hover {
    color: #333;
  }

  button:active {
    color: #000;
  }

*/

.flex {
  display: flex;
}
@media screen and (max-width: 452px) and (orientation: portrait){
#loginoutput{
	width:100%;
}
#regelnoutput{
	width:100%;
}
.modal-body{
	width:100%;
}
}
