* {
    box-sizing: border-box;
}



body.ondialog {
    overflow: hidden;
}




:root {
    --mht: 3.2rem;
    --pd: 1rem;
    --spinnerh: .3rem;
    --hbg: #bdf3d3;
}




body{
	background:red;
}
#transbtn2{
	color:green;
	height:auto;
	padding:50px;
	font-size:23px;
	border:10px solid blue;
	font-weight:bold;
	text-align: center;


}
/*popup*/

.overlay {
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    cursor: default;
    opacity: 1.0;
    position: fixed;
    visibility: hidden;
    z-index: 1;
    transition: opacity 0s;

}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.popi {
    border: 1px solid rgba(255, 245, 255, 0.2);
    background: rgba(20, 20, 30, 1);
    color: rgba(233, 240, 250, 0.9);
    font-family: Arial, sans-serif;
    left: 50%;
    top: 25%;
    width: auto;
    padding: 10px 20px 20px 20px;
    overflow: auto;
    opacity: 0;
    adding: 10em;
    position: fixed;
    height: auto;
    visibility: hidden;
    z-index: 100;
    transform: translate(-50%, -25%);
    -webkit-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    border-radius: 2px;
    transition: opacity 0s, top 0s;
}

.overlay:target + .popi {
    opacity: 1;
    visibility: visible;
}

.wrap-close {
    height: 0em;
    margin-bottom: 0em;
    display: block;
    position: relative;
}

.close {
    height: 0.9em;
    text-align: center;
    width: 0.9em;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    font-size: 1.6em;

}

.close::before {
    color: rgba(255, 255, 255, 0.9);
    content: "\274c";
    /* or x \d7 */
}


.close:hover::before {
    color: brown;
}

.jstream{
	font-size:1.2rem;
	color:blue;
	text-decoration:underline;
	padding:10px;
	bordr:1px solid blue;
}
/* message_box */
#out_box {
    width: 50%;
}

#out_box2 {
    width: 50%;
    text-align: center;
    padding: 20px;
}

#inbox2 {
    padding: 20px;
    margin: 20px;
}

.yesno {
    margin: 10px;
    width: 60px;
}

#inbox {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: red;
    background: yellow;
}

/* CONFIRM  */
#alert_id {
}

.alert {
    visibility: hidden;
    position: fixed;
    left: 30%;
    background: yellow;
    color: green;
    top: 1%;
    width: 30%;
    transform: translate(-100%, 1vh);
    transition: transform .2s, visibility .2s;
}

.alert.ak {
    visibility: visible;
    transform: translate(-50%, 1vh);
    /*transition: visibility 3s,ransform 0.4s;*/
}





/* start node */

#notes {
    position: fixed;
    top: 1em;
    width: 100%;
    cursor: default;
    transition: height .45s ease-in-out;
    pointer-events: none;
    z-index: 10000;
}
/*
.note-item {
        width: 75vw;
        max-width: none;
    }
    */ 
.note-item {
    max-height: 12em;
    opacity: 1;
    will-change: opacity, transform;
    transition: all .2s linear;

    backface-visibility: hidden;
    width: 100vw;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    z-index: 2;
    pointer-events: auto;
    display: flex;
    align-items: flex-start;

    align-content: flex-start;

    max-width: 30vw;
    font: inherit;
    line-height: 1.25em;
    color: #fff;
    margin: 0 auto 1em auto;
    transform: translateZ(0);
    padding: .75em 1em;
}

[data-show="false"] {
    pointer-events: none;
    opacity: 0 !important;
    max-height: 0 !important;
    margin-bottom: 0 !important;
}


[data-type="info"] {
    background-color: #375e97;
}

[data-type="warn"] {
    background-color: #EBAC00;
    animation: shake .9s cubic-bezier(.36, .07, .19, .97) both;
}

[data-type="error"] {
    background-color: #fb6542;
    animation: shake 0.54s cubic-bezier(.36, .07, .19, .97) both;
}

[data-type="success"] {
    background-color: #3f681c;
}

.note-item-text {
    flex: auto;
    padding-right: .5em;
    max-width: calc(100% - 1.25em);
}

.note-item-btn {
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIiBmaWxsPSIjZmZmIj48cGF0aCBkPSJNMTguMyw1LjcxTDE4LjMsNS43MWMtMC4zOS0wLjM5LTEuMDItMC4zOS0xLjQxLDBMMTIsMTAuNTlMNy4xMSw1LjdjLTAuMzktMC4zOS0xLjAyLTAuMzktMS40MSwwbDAsMCBjLTAuMzksMC4zOS0wLjM5LDEuMDIsMCwxLjQxTDEwLjU5LDEyTDUuNywxNi44OWMtMC4zOSwwLjM5LTAuMzksMS4wMiwwLDEuNDFoMGMwLjM5LDAuMzksMS4wMiwwLjM5LDEuNDEsMEwxMiwxMy40MWw0Ljg5LDQuODkgYzAuMzksMC4zOSwxLjAyLDAuMzksMS40MSwwbDAsMGMwLjM5LTAuMzksMC4zOS0xLjAyLDAtMS40MUwxMy40MSwxMmw0Ljg5LTQuODlDMTguNjgsNi43MywxOC42OCw2LjA5LDE4LjMsNS43MXoiLz48L3N2Zz4=) no-repeat 0 0 / contain;
    transition: opacity .2s;
}

.note-item-btn:hover {
    opacity: .6;
}
/* end note */

@keyframes puls {
    from {
        background: green;
    }
    to {
        background: lightgreen;
    }
}

input[type=submit].puls,button.puls,div.puls,form.puls {
    animation-name: puls;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@media screen and (max-width: 452px) and (orientation: portrait){

.note-item {
        width: 90vw;
        max-width: none;
    }

}
#infooutput{
	overflow:auto;
}
#infooutput p{
	line-height:1.2;
	font-size:1.2rem;
	margin-top:5px;
	margin-bottom:5px;
}
@media screen and (max-width: 452px) and (orientation: portrait){
	
	#infooutput{
		width:99%;
	}
}





